# Crimes in India - Capstone Project

# Unsupervised ML (Clustering)

# Problem Statement:

# Note: This phase requires your general knowledge and thought process to merge the right datasets and the right columns. Collecting quality data is a key factor to create meaningful clusters and Analysis.

# Create 3 clusters as below.

# 1) Sensitive Area's

# 2) Moderate Area's

# 3) Peaceful Area's"

# Example -

# 1) What is impacting more crimes in sensitive areas.

# 2) What needs to be done to reduce crime.

# 3) Most safe and unsafe districts.

# Etc.......Anything that you observe (If you want, you can plot various graphs to analyze)"

# Import necerrssary liabires

In [27]:
import pandas as pd
import numpy as np

In [28]:
data = pd.read_csv(r"D:\b.com final year\BCom3  2016-2017\01_District_wise_crimes_committed_IPC_2001_2012.csv")

In [29]:
data

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [30]:
# Lets check the shape of dataset
data.shape

(9017, 33)

So , here we have 9840 rows and 33 columns

# Data is Duplicated ?

In [31]:
data.duplicated().sum()

0

so, here we have 0 Duplicated Data

In [32]:
#Lets check the data type of dataset
data.dtypes

STATE/UT                                               object
DISTRICT                                               object
YEAR                                                    int64
MURDER                                                  int64
ATTEMPT TO MURDER                                       int64
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER               int64
RAPE                                                    int64
CUSTODIAL RAPE                                          int64
OTHER RAPE                                              int64
KIDNAPPING & ABDUCTION                                  int64
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS             int64
KIDNAPPING AND ABDUCTION OF OTHERS                      int64
DACOITY                                                 int64
PREPARATION AND ASSEMBLY FOR DACOITY                    int64
ROBBERY                                                 int64
BURGLARY                                                int64
THEFT                                                   int64
AUTO THEFT                                              int64
OTHER THEFT                                             int64
RIOTS                                                   int64
CRIMINAL BREACH OF TRUST                                int64
CHEATING                                                int64
COUNTERFIETING                                          int64
ARSON                                                   int64
HURT/GREVIOUS HURT                                      int64
DOWRY DEATHS                                            int64
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY     int64
INSULT TO MODESTY OF WOMEN                              int64
CRUELTY BY HUSBAND OR HIS RELATIVES                     int64
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES             int64
CAUSING DEATH BY NEGLIGENCE                             int64
OTHER IPC CRIMES                                        int64
TOTAL IPC CRIMES                                        int64
dtype: object

so here we have

Object type - STATE/UT and DISTRICT columns are object columns

int64 type - Then All columns are int64

# Data Describe

In [33]:
data.describe()

,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
count,9017.000000,9017.00000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,...,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000,9017.000000
mean,2006.629034,89.28535,78.069646,9.895531,53.041366,0.005767,53.035599,79.152046,58.535433,20.616613,...,25.219918,747.893091,20.228901,100.511257,27.515582,194.122435,0.197849,222.216702,2174.299434,5310.115116
std,3.463623,327.27503,303.446020,59.521657,190.741450,0.115223,190.725474,317.630964,246.937464,88.586415,...,98.880282,3024.106467,96.970466,394.059436,167.237522,831.986594,2.415039,936.002540,7988.438462,18524.381119
min,2001.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,18.00000,10.000000,0.000000,8.000000,0.000000,8.000000,10.000000,6.000000,1.000000,...,2.000000,43.000000,1.000000,10.000000,0.000000,11.000000,0.000000,5.000000,265.000000,853.000000
50%,2007.000000,38.00000,28.000000,2.000000,20.000000,0.000000,20.000000,25.000000,18.000000,5.000000,...,8.000000,199.000000,5.000000,31.000000,2.000000,47.000000,0.000000,68.000000,745.000000,2096.000000
75%,2010.000000,66.00000,56.000000,6.000000,41.000000,0.000000,41.000000,56.000000,42.000000,13.000000,...,20.000000,529.000000,16.000000,76.000000,13.000000,135.000000,0.000000,177.000000,1608.000000,3972.000000
max,2012.000000,7601.00000,7964.000000,1616.000000,3425.000000,5.000000,3425.000000,8878.000000,7910.000000,2416.000000,...,2830.000000,56768.000000,2322.000000,7118.000000,4970.000000,19865.000000,83.000000,16076.000000,124176.000000,220335.000000

In [34]:
data = data[['STATE/UT', 'DISTRICT', 'YEAR',  'TOTAL IPC CRIMES']]
data = data.fillna(0)

In [35]:
data.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'TOTAL IPC CRIMES'], dtype='object')

We will use the MinMaxScaler from the sklearn library to scale the data between 0 and 1.

In [36]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data.iloc[:,3:])

We will use the KMeans algorithm from the sklearn library to perform clustering on the normalized data. We will set the number of clusters to 3.

In [37]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3, init='k-means++')
kmeans.fit(data_scaled)

KMeans(n_clusters=3)

In [38]:
data['cluster'] = kmeans.labels_

In [39]:
peaceful_Areas = data[data['cluster'] == 0]
sensitive_Areas = data[data['cluster'] == 1]
moderate_Areas = data[data['cluster'] == 2]

In [40]:
peaceful_Areas

            STATE/UT       DISTRICT  YEAR  TOTAL IPC CRIMES  cluster
0     ANDHRA PRADESH       ADILABAD  2001              4154        0
1     ANDHRA PRADESH      ANANTAPUR  2001              4125        0
2     ANDHRA PRADESH       CHITTOOR  2001              5818        0
3     ANDHRA PRADESH       CUDDAPAH  2001              3140        0
4     ANDHRA PRADESH  EAST GODAVARI  2001              6507        0
...              ...            ...   ...               ...      ...
9012     LAKSHADWEEP    LAKSHADWEEP  2012                60        0
9013     LAKSHADWEEP          TOTAL  2012                60        0
9014      PUDUCHERRY       KARAIKAL  2012               787        0
9015      PUDUCHERRY     PUDUCHERRY  2012              3494        0
9016      PUDUCHERRY          TOTAL  2012              4281        0

[8772 rows x 5 columns]

In [41]:
sensitive_Areas

            STATE/UT DISTRICT  YEAR  TOTAL IPC CRIMES  cluster
28    ANDHRA PRADESH    TOTAL  2001            130089        1
169          GUJARAT    TOTAL  2001            103419        1
285        KARNATAKA    TOTAL  2001            109098        1
302           KERALA    TOTAL  2001            103847        1
351   MADHYA PRADESH    TOTAL  2001            181741        1
...              ...      ...   ...               ...      ...
8657     MAHARASHTRA    TOTAL  2012            202700        1
8806       RAJASTHAN    TOTAL  2012            170948        1
8851      TAMIL NADU    TOTAL  2012            200474        1
8938   UTTAR PRADESH    TOTAL  2012            198093        1
8982     WEST BENGAL    TOTAL  2012            161427        1

[119 rows x 5 columns]

In [42]:
moderate_Areas

          STATE/UT        DISTRICT  YEAR  TOTAL IPC CRIMES  cluster
70           ASSAM           TOTAL  2001             36877        2
115          BIHAR           TOTAL  2001             88432        2
135   CHHATTISGARH           TOTAL  2001             38460        2
190        HARYANA           TOTAL  2001             38759        2
253      JHARKHAND           TOTAL  2001             25447        2
...            ...             ...   ...               ...      ...
8630   MAHARASHTRA   MUMBAI COMMR.  2012             30508        2
8734        ODISHA           TOTAL  2012             67957        2
8763        PUNJAB           TOTAL  2012             35790        2
8971   WEST BENGAL         KOLKATA  2012             25370        2
8997      DELHI UT  DELHI UT TOTAL  2012             54287        2

[126 rows x 5 columns]

Crimes in India :-
    
    The sensitive areas cluster has a high incidence of crimes against women, including rape, kidnapping, and dowry deaths. This suggests that there is a need for greater attention towards women's safety and empowerment in these areas.

    To reduce crime, there needs to be better enforcement of laws, greater public awareness, and investment in social and economic development. In sensitive areas, there is a particular need for targeted interventions to address crimes against women.What needs to be done to reduce crime?

    Most safe and unsafe districts The most unsafe districts are likely to be found in the sensitive areas cluster. The most safe districts are likely to be found in the peaceful areas cluster. However, it is important to note that crime rates

    To Some causes of crimes are region specific Insurgents committed Left wing extremists committed  mostly in Chhattisgarh. mostly in Jammu & Kashmir

    There’s a rapid increase in the crime rate in our Indian economy. These crimes are caused due to the unpunished offenders . The problem of crime  has been a relentless menace to society